# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Continuos Integration with Github Actions
on:
  push:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
    # You may pin to the exact commit or the version.
    # uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
      uses: docker/login-action@v3.6.0
      with:
        # Username used to log against the Docker registry
        username: ${{ secrets.DOCKER_USERNAME }}
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_PASSWORD }}
        # Specifies whether the given registry is ECR (auto, true or false)
 
    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'temurin'
        cache: maven
        
    - name: Build Application JAR
      run: docker build -t managementsystem-app:latest .

    - name: Docker Compose BUILD
      run: docker compose -f docker-compose.prod.yml build

    - name: Push to Docker Hub Container Registry
      run: |
        docker tag managementsystem-app:latest ${{ secrets.DOCKER_USERNAME }}/managementsystem-app:latest 
        docker tag managementsystem-app:latest ${{ secrets.DOCKER_USERNAME }}/managementsystem-app:${{ github.run_id }}

        docker push ${{ secrets.DOCKER_USERNAME }}/managementsystem-app:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/managementsystem-app:${{ github.run_id}}

